.header {
    background: linear-gradient(#ddd, #001166);
}

.header-btn {
    background-color: transparent;
    color: #c30068;
}

.menu-btn {
    background-color: 
}

.breakfast-background {
    background: url(../img/breakfast-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1500px;
}

.container {
    width: 650px;
}

.header{
    font-family: 'Pacifico', cursive;
}

.header h2 {
    font-size: 50px;
}

.map-bg,
.map-title {
    background-color: #ece8ec;
}

.card img {
    width: 286px;
    height: 180px;
    /*object-fit: contain;*/
}

.menu-bar,
.menu-bar:hover {
    text-decoration: none;
    color: #c30068;
}