/*.header {
    background: linear-gradient(#ddd, #001166);
}
*/
.header{
    font-family: 'Pacifico', cursive;
}

.header h2 {
    font-size: 50px;
    color: #343a40;
}

body {
  background-image: url(../img/bb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

img {
  width: 50vw;
  height: 50vh;
  margin-top: 100px;
}

.picture {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
}

main {
  height: 650px;
}